nakisa {

        com.nakisa.web.framework.authentication.ImpersonationLoginModule Sufficient
                identityRoleMapping=true
        ;

        com.nakisa.web.framework.authentication.ReuseExistingUserLoginModule Sufficient
                remoteUserRegex=".*\\\\|@.*"
                remoteUserRegexReplacement=""
                userPrincipalFromRequest=true
                failOnNoRoles=true
                useRemoteUser=true
        ;

        com.nakisa.web.framework.authentication.ConfigLoginModule Sufficient
        ;

        com.nakisa.web.framework.authentication.DynamicDataLoginModule Sufficient
                failOnNoRoles=true
        ;

        com.nakisa.web.framework.authentication.SuccessFactorLoginModule Sufficient
                failOnNoRoles=true
        ;

        com.nakisa.web.framework.authentication.SapJcoLoginModule Sufficient
                failOnNoRoles=true
        ;

        com.nakisa.web.framework.authentication.TokenLoginModule Sufficient
                identityRoleMapping="true"
                skipRoleFetching="true"
                integratedUserPopulation="false"
                trustedIps=".*"
                username="user_management"
                role="user_management"
                token="e8cc823d068c41b1a2c7e44f4e2a910467bc147253b74ca5b5bafbbfa18d917e"
        ;

        com.nakisa.web.framework.authentication.TokenLoginModule Sufficient
                identityRoleMapping="true"
                skipRoleFetching="true"
                integratedUserPopulation="false"
                trustedIps=""
                username="nak_admin_setup"
                role="nak_admin_setup"
                token="0021121f6d0a4bdbbf9c8488da731d38a4544b00a2074d8284755b24ed2074bd"
        ;
};
