nakisa {

    com.nakisa.web.framework.authentication.ImpersonationLoginModule Sufficient
		identityRoleMapping=true
	;

	com.nakisa.web.framework.authentication.ReuseExistingUserLoginModule Sufficient
		remoteUserRegex=".*\\\\|@.*"
		remoteUserRegexReplacement=""
		userPrincipalFromRequest=true
		failOnNoRoles=true
	;
	
	com.nakisa.web.framework.authentication.ConfigLoginModule Sufficient
	;
	
	com.nakisa.web.framework.authentication.DynamicDataLoginModule Sufficient
		failOnNoRoles=true
	;
	
	com.nakisa.web.framework.authentication.SuccessFactorLoginModule Sufficient
		failOnNoRoles=true
	;

	com.nakisa.web.framework.authentication.SapJcoLoginModule Sufficient
		failOnNoRoles=true
	;
};